/* course-list.component.css */

.course-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .course-table th, .course-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .course-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #4caf50;
    color: white;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  
  .edit-button:hover, .delete-button:hover {
    background-color: #45a049;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .header, .footer {
    width: 99.9%;
    background-color: #007bff; /* Change color as needed */
    padding: 10px 0;
    text-decoration: solid;
    text-align: center;
    
    
  }
  
  .main-content {
    width: 80%; /* Adjust width as needed */
  }
  
  .footer {
    margin-top: auto;
    text-decoration-color: #f2f2f2;
    
  }
  .logo {
    height: 50px; /* Adjust height as needed */
    transform: rotate(); /* Flip horizontally */
}
.navbar-nav .nav-link {
  color: white; /* Default link color */
}

.navbar-nav .nav-link:hover {
  color: #a01313; /* Change color on hover */
}
